<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wordwise"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.wordwise.WordwiseIntro"
            android:label="@string/title_activity_main"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wordwise.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.wordwise.view.activity.configuration.ProficientLanguagesStep"
            android:label="@string/title_configuration_step1"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.wordwise.view.activity.configuration.LearningLanguageStep"
            android:label="@string/title_configuration_step2"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.wordwise.view.activity.setting.Settings"
            android:label="@string/app_name"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.wordwise.view.activity.NewGame"
            android:label="@string/app_name"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.wordwise.view.activity.game.Hangman"
            android:label="@string/app_name"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.wordwise.view.activity.game.Words2Translations"
            android:label="@string/app_name"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.wordwise.view.activity.game.Memory"
            android:label="@string/app_name"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.wordwise.view.activity.game.LetterBox"
            android:label="@string/app_name"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.wordwise.view.activity.game.WordEvaluation"
            android:label="@string/app_name"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.wordwise.view.activity.game.TranslateWord"
            android:label="@string/app_name"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.wordwise.view.activity.game.TranslationEvaluation"
            android:label="@string/app_name"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.wordwise.view.activity.AboutActivity"
            android:label="@string/title_activity_about_activity"
            android:noHistory="true" >
        </activity>
    </application>

</manifest>